.card{
  width: 400px;
}
.baseCurrency1{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.class-Currency1{
  border: solid 1px;
}
.top{
  display: flex;
  justify-content: space-between;
}
.list-currency{
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.currencykiri {
  float: left;
  border-left: solid 1px;
  width: 10%;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border-right: transparent;
  border-bottom: transparent;
}
.currencykanan{
  width: 100%;
  /*margin: 2px;*/
}
.middle i{
  font-weight: bold;
  font-size: 13px;
}
.bottom{
  font-size: 11px;
}
.tambah{
  width: 100%;
  background-color: transparent;
  margin-top: 10px; 
}